.container {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: calc(100% + 10px);
  margin: 0;
  padding: 5px 0;
  min-width: 170px;
  border-radius: 10px;
  background-color: var(--color-bg);
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.5);
  list-style: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
