.container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: var(--margin-block);
  border-radius: var(--border-radius);
  border: 2px solid var(--color-text);
  padding: var(--margin-block);
}
.label,
.loader,
.value {
  font: var(--font-text);
  color: var(--color-text);
}

.loader {
  background-color: var(--color-accent-light);
  border-radius: 5px;
  height: 1.2em;
  width: 70px;
}
