.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding: var(--margin-block);
  border-radius: var(--border-radius);
  border: 2px solid var(--color-text);
  height: 200px;
  width: 200px;
}

.legend {
  position: absolute;
  top: 8px;
  right: 10px;
}

.chart,
.loader {
  flex-shrink: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.chart {
  background: var(--chart);
}

@keyframes rotatePie {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  background: conic-gradient(
    var(--color-accent-light) 25%,
    var(--color-accent-darken) 25% 100%
  );
  animation: rotatePie 3s ease-in-out infinite;
}

@media (max-width: 450px) {
  .container {
    width: 100%;
  }
  .chart,
  .loader {
    width: 166px;
  }
}
