.container {
  display: flex;
  gap: 10px;
  height: 25px;
  margin-bottom: 10px;
}

.tab {
  border: none;
  border-radius: 3px;
  background-color: var(--color-accent-light);
  color: var(--color-bg);
  font: var(--font-caption);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.tab.active {
  background-color: var(--color-accent-darken);
}
