.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font: var(--font-text);
  color: var(--color-text);
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  background-color: var(--color-accent-light);
  color: var(--color-bg);
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--color-accent-light);
    color: var(--color-bg);
  }
}

.another .btn {
  opacity: 0.3;
}

.btn:active {
  background-color: var(--color-accent-darken);
  color: var(--color-bg);
}
