.container {
  justify-self: center;
  padding: 15px;
  border-radius: var(--border-radius);
  width: fit-content;
  background-color: var(--color-bg-component);
}

.header,
.items {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
  margin: 0;
  list-style: none;
}

.day {
  text-align: center;
  font: var(--font-text);
  color: var(--color-text);
  opacity: 0.7;
}
