.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label,
.value {
  font: var(--font-h2);
  color: var(--color-text);
}

.value {
  border: none;
  border-bottom: 2px solid var(--color-text);
  background-color: transparent;
  cursor: pointer;
}
