.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--margin-block);
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  }
}
